[submodule "third_party/GP-Derivatives-Variational-Inference"]
	path = third_party/GP-Derivatives-Variational-Inference
	url = https://github.com/mishapadidar/GP-Derivatives-Variational-Inference.git
